<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ce.mnu.mapper.QuestionMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getList" resultType="ce.mnu.domain.QuestionVO">
	<![CDATA[
		select * from tbl_Question where
		qno > 0 and rownum <= 100
		]]>
	</select>
	
	<select id="getListWithOption" resultType="ce.mnu.domain.ExamDTO">
	<!-- 옵션 추가되면 수정 ㄱ -->
		<![CDATA[
		SELECT *
		FROM (	SELECT *
      			FROM tbl_question
      			ORDER BY DBMS_RANDOM.VALUE)
		WHERE rownum <= #{amount}
		]]>
	</select>

	<insert id="insert">
		insert into tbl_Question (qno, title, content, correct, commentary, writer, questionTag)
		values (seq_Question.nextval, #{title}, #{content}, #{correct}, #{commentary}, #{writer}, #{questionTag})
	</insert>

	<insert id="insertSelectKey">

		<selectKey keyProperty="qno" order="BEFORE"
			resultType="long">
			select seq_Question.nextval from dual
		</selectKey>

		insert into tbl_Question (qno, title, content, correct, commentary, writer, questionTag)
		values (#{qno}, #{title}, #{content}, #{correct}, #{commentary}, #{writer}, #{questionTag})
	</insert>

	<select id="get" resultType="ce.mnu.domain.QuestionVO">
		select * from tbl_Question where qno =
		#{qno}
	</select>
	
	<select id="getResultVO" resultType="ce.mnu.domain.ExamResultVO">
		select * from tbl_Question where qno =
		#{qno}
	</select>


	<delete id="delete">
		delete tbl_Question where qno = #{qno}
	</delete>
	
	<update id="update">
		update tbl_Question
		set title= #{title},
		content=#{content},
		commentary = #{commentary},
		questionTag = #{questionTag},
		writer = #{writer},
		updateDate = sysdate
		where qno = #{qno}
	</update>
	
	<update id="increasePeople">
		UPDATE tbl_Question
		SET total = total + 1,
		successer = CASE
			WHEN #{answer} = #{correct} THEN successer + 1
			ELSE successer
			END
		where qno = #{qno}
	</update>

<!--  
	<select id="getListWithPaging" resultType="ce.mnu.domain.QuestionVO">
	  <![CDATA[
	   select 
	     qno, title, content, writer, regdate, updatedate
	   from 
	       (
	       select /*+INDEX_DESC(tbl_Question pk_Question) */
	         rownum rn, qno, title, content, writer, regdate, updatedate 
	       from 
	         tbl_Question
	      where rownum <= #{pageNum} * #{amount}
	      )
	  where rn > (#{pageNum} -1) * #{amount}
	  ]]>
  </select>
  -->
 
	<select id="getListWithPaging" resultType="ce.mnu.domain.QuestionVO">
  	<![CDATA[
	select 
  		qno, title, content, total, successer, commentary, writer, regdate, updatedate, questionTag
	from (
	    select /*+INDEX_DESC(tbl_Question pk_Question) */
			rownum rn, qno, title, content, total, successer, commentary, writer, regdate, updatedate, questionTag
	    from 
	    	tbl_Question
    	where 
	]]> <include refid="criteria"></include>

	<![CDATA[    
	    rownum <= #{pageNum} * #{amount}
    )
	where rn > (#{pageNum} -1) * #{amount}   
	]]>
	</select>

  

  <select id="getTotalCount" resultType="int">
  select count(*) from tbl_Question where 
  
    <include refid="criteria"></include> 
    
  qno > 0  
  
  </select>
</mapper>
