wrapper {
  height: 120vh;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

/* 질문 컨테이너 */
.wrapper {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  padding-left: 20px;
}

.wrapper__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.wrapper__container__Header {
  position: relative;
  top: 0px;
  width: 90%;
  padding: 20px 0px;
  display: flex;
  justify-content: flex-end;
}

.wrapper__container__Header__btn {
  padding: 15px;
  border-radius: 15px;
  background-color: #9e9e9e;
}

.wrapper__container__Header__btn span {
  color: white;
}

.wrapper__container__Main {
  position: relative;
  width: 90%;
  height: 100%;
}

.board__table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-spacing: 10px;
  border-collapse: separate;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  overflow: hidden;
}

.board__head {
  width: 100%;
  display: flex;
  background-color: #ff006e;
  color: white;
}

thead,
tbody {
  width: 100%;
}

.board__head__row {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  /* border: 0.5px solid #9e9e9e; */
}

.board__body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.board__body__row {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.board__head__row th,
.board__body__row td {
  flex: 1;
  padding: 15px 0px;
  text-align: center;
  border: 0.5px solid #9e9e9e;
  /* background-color: tomato; */
}

.onHover:hover {
  color: #ff006e;
  background-color: #edf2f4;
  padding: 5px 15px;
  border-radius: 5px;
}

.board__body__row td:nth-child(1),
.board__head__row th:nth-child(1) {
  flex: 1;
}

.board__body__row td:nth-child(2),
.board__head__row th:nth-child(2) {
  flex: 5;
}
.board__body__row td:nth-child(3),
.board__head__row th:nth-child(3) {
  flex: 2;
}
.board__body__row td:nth-child(4),
.board__head__row th:nth-child(4) {
  flex: 2;
}

/* 게시글 작성 페이지  */
.board__register {
  padding: 25px 0px;
  border-bottom: 1px solid rgba(99, 99, 99, 0.2);
}

.board__register h2 {
  font-size: 25px;
  font-weight: 600;
}
.wrapper__container__input,
#board__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.board__form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.board__form__input textarea,
.board__form__input input {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
}

.board__form__submit {
  position: relative;
  margin-top: 50px;
  bottom: 0px;
}

.board__form__submit input {
  border: none;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 15px;
  background-color: #ff006e;
  color: white;
  font-size: 18px;
}

.comment_sub:hover,
#wrapperSubmitBtn:hover,
.wrapper__container__btn a:hover,
.board__form__submit input:hover {
  opacity: 0.5;
}

/* 게시글 읽어오기 get.jsp */
.wrapper__container__btn {
  position: relative;
  margin-top: 50px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.wrapper__container__btn a {
  border: none;
  cursor: pointer;
  padding: 20px 45px;
  border-radius: 15px;
  background-color: #ff006e;
  color: white;
  font-size: 18px;
}
/* 
.wrapper__container__btn  a {
  color: white;
  font-size: 18px;
} */

.wrapper__container__btn a:nth-child(3) {
  padding: 25px 40px;
}

#wrapperSubmitBtn {
  border: none;
  cursor: pointer;
  padding: 20px 45px;
  border-radius: 15px;
  background-color: #ff006e;
  color: white;
  font-size: 18px;
}

/* 댓글 */
.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: tomato; */
}

.comment__in_form {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  /* background-color: tomato; */
}

.comment__in_form > input {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 20px;
  padding: 10px;
  border: none;
  border-radius: 15px;
}

#comment_plyer {
  width: 100px;
}

#comment_ply {
  width: 500px;
}

.comment__out {
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
}

.comment__out_view {
  display: flex;
  align-items: center;
  margin: 16px;
  padding: 10px;
}

.comment__out_view > span {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-right: 40px;
  padding: 10px 20px;
}

.comment__out_view > span:nth-child(1) {
  width: 100px;
}

.comment__out_view > span:nth-child(2) {
  width: 500px;
}

.comment__modify {
  display: flex;
}

.modify__form {
  display: flex;
  margin-left: 22px;
}

.delete__form > input,
.modify__form > input {
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
}

.modify_text {
  width: 500px;
}
