.mypage_box {
  padding: 70px 70px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: white;
  border-radius: 10px;
}

.mypage_box > span {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 20px 20px;
}
