@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Open+Sans:wght@400;500;700&display=swap");
@import "./index.css";
@import "./login.css";

* {
  font-family: "Noto Sans KR", "Open Sans", sans-serif;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}
