test {
  height: 75vh;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 질문 컨테이너 */
.test {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  padding-left: 20px;
}

.test__container {
  flex: 4.5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.test__titleNum {
  flex: 0.5;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-left: 20px; */
  /* background-color: tomato; */
}

.test__titleNum span {
  font-weight: 700;
  font-size: 20px;
}

.test__question {
  flex: 0.5;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 30px 0px;
  margin-left: 50px;
}

.test__question span {
  font-size: 20px;
  font-weight: bold;
}

/* questionOption page */

.questionOption {
  display: flex;
  flex-direction: column;
}

.radio_question {
  display: block;
  font-size: 28px;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

/* 객관식 답 */
.test__written__answer {
  flex: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}

.test__written__answer span {
  padding-top: 15px;
}

/* 주관식 답 */
.test__practical__answer {
  flex: 3;
  width: 100%;
  margin-top: 20px;
}

#pracitcalAnswer {
  /* border: none; */
  border: 1px solid rgba(99, 99, 99, 0.2);
  background-color: #f5f3f4;
  width: 97%;
  border-radius: 15px;
  padding: 15px;
}

/* 정답 컨테이너 */
.answer__container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#answer__btn {
  border: none;
  /* outline: 0; */
  cursor: pointer;
  padding: 18px 80px;
  border-radius: 15px;
  background-color: #ff006e;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
}

#answer__btn:hover {
  opacity: 0.7;
}

/* 필기 문제 답안 */
.answer__radiolist {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.answer__radiolist > li > input[type="radio"] {
  background-color: #ffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 16px;
  border: 1px solid rgb(0, 0, 0);
  width: 14px;
  height: 14px;
  /* border-radius: 100%; */
}

.answer__radiolist > li > input[type="radio"]:checked {
  background-color: #ff006e;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 16px;
  border: none;
  width: 14px;
  height: 14px;
  /* border-radius: 100%; */
  /* background: url("../assets/check.png"); */
}

/* 테스트 결과 페이지 */
.test__result {
  margin: 20px 0px;
}

.test__result > span {
  font-size: 20px;
}
