<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mnu.mapper.MemberMapper">
    <select id="getUserOne" resultType="org.mnu.domain.MemberDTO" parameterType="map">
        SELECT * FROM TBL_MEMBER WHERE MEMBER_ID = #{member_id} AND MEMBER_PASSWORD = #{member_password}
    </select>
</mapper>