<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
   '<' 나 '>' 가 들어가는 비교연산자는 xml 에서 닫기로 인식되므로,
   <![CDATA[ ]]> 를 사용하여 해결 할 수 있다.
-->
<mapper namespace="org.mnu.mapper.QuestionMapper">
    <select id="get" resultType="org.mnu.domain.QuestionVO">
        <!--SELECT * FROM TBL_QUESTION WHERE qno = #{qno}-->
        SELECT * FROM TBL_QUESTION WHERE DIVISION = #{division} and QNO = #{qno}
    </select>

    <select id="getList" resultType="org.mnu.domain.QuestionVO">
        SELECT * FROM TBL_QUESTION
    </select>

    <select id="getListWriter" resultType="org.mnu.domain.QuestionVO">
        SELECT * FROM TBL_QUESTION WHERE writer = #{writer} ORDER BY qno DESC
    </select>
    
    <select id="getCount" resultType="int">
        <!--SELECT COUNT(*) FROM TBL_QUESTION-->
        SELECT count(*) FROM TBL_QUESTION WHERE DIVISION = #{division}
    </select>

    <select id="getResultList" resultType="org.mnu.domain.QuestionResultVO">
        SELECT * FROM TBL_QUESTION_RESULT WHERE member_id = #{id} ORDER BY no DESC
    </select>

    <insert id="insert" parameterType="org.mnu.domain.QuestionVO">
        INSERT INTO TBL_QUESTION (QNO, TITLE, CONTENT1, CONTENT2, CONTENT3, CONTENT4, ANSWER, "COMMENT", WRITER, SUCCESS, REGDATE, "updateDate", FILEPATH, DIVISION)
        VALUES (#{qno}, #{title}, #{content1}, #{content2}, #{content3}, #{content4}, #{answer}, #{comment}, #{writer}, 0, sysdate, sysdate, null, 'w')
    </insert>

    <update id="update" parameterType="org.mnu.domain.QuestionVO">
        UPDATE TBL_QUESTION
        SET title = #{title},
            CONTENT1 = #{content1},
            CONTENT2 = #{content2},
            CONTENT3 = #{content3},
            CONTENT4 = #{content4},
            ANSWER = #{answer},
            "COMMENT" = #{comment},
            "updateDate" = sysdate
        WHERE qno = #{qno}
    </update>

    <insert id="insertResult" parameterType="org.mnu.domain.QuestionResultVO">
        INSERT INTO TBL_QUESTION_RESULT (NO, MEMBER_ID, TESTDATE, ANSWER, COUNT)
        VALUES (SEQ_QUESTION_RESULT.nextval, #{member_id}, sysdate, #{answer}, #{count})
    </insert>


</mapper>