<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
   '<' 나 '>' 가 들어가는 비교연산자는 xml 에서 닫기로 인식되므로,
   <![CDATA[ ]]> 를 사용하여 해결 할 수 있다.
-->
<mapper namespace="org.mnu.mapper.QuestionMapper">
    <select id="get" resultType="org.mnu.domain.QuestionVO">
        SELECT * FROM TBL_QUESTION WHERE qno = #{qno}
    </select>

    <select id="getList" resultType="org.mnu.domain.QuestionVO">
        SELECT * FROM TBL_QUESTION
    </select>

    <select id="getListWriter" resultType="org.mnu.domain.QuestionVO">
        SELECT * FROM TBL_QUESTION WHERE writer = #{writer}
    </select>
    
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM TBL_QUESTION
    </select>
</mapper>